# 파이썬 개요 실습_Basics

## Indent, a brace

In [1]:
def test():
    print(1)
    print(2)
    
test()

1
2

In [2]:
a = 1
b = "abc"
c = "a"

print("a: ",type(a))
print("b: ",type(b))
print("c: ",type(c))

a:  <class 'int'>
b:  <class 'str'>
c:  <class 'str'>

## 자료형

### 수치형

In [3]:
example = 5
print(type(example), example)

example = 5.
print(type(example), example)

example = 5.23
print(type(example), example)

example = 5.23e2
print(type(example), example)

example = 5.23e-2
print(type(example), example)

example = 5j
print(type(example), example)

<class 'int'> 5
<class 'float'> 5.0
<class 'float'> 5.23
<class 'float'> 523.0
<class 'float'> 0.0523
<class 'complex'> 5j

In [4]:
print(34 + 1)
print(34.0 - 0.1)
print(300 * 30)
print(1 / 2)
print(2 // 3)
print(9 ** 0.5)
print(20 % 3)

35
33.9
9000
0.5
0
3.0
2

In [5]:
print(int(1.3))
print(int(-1.7))
print(int("5"))

print(float(5))
print(float("1.3"))

print(str(3))
print(type(str(3)))
print(str(-1.3e3))

print(round(1.3))
print(round(-1.7))
print(round(1.37, 1))

1
-1
5
5.0
1.3
3
<class 'str'>
-1300.0
1
-2
1.4

#### TypeError: 'str' object is not callable
#### 에러가 나오면 위에서 'str=~' 이라고 변수 이름을 선언한 경우 오류가 발생한다.

### 문자형

In [6]:
sentence = "I ate 3 apples. So I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\nSo I was sick for five days."
print(sentence)

sentence = "I ate 3 apples.\tSo I was sick for five days."
print(sentence)

sentence = "He said, \"I ate 3 apples. So I was sick for five days\""
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples.
So I was sick for five days.
I ate 3 apples.	So I was sick for five days.
He said, "I ate 3 apples. So I was sick for five days"

In [7]:
number = 3
day = "five"

sentence = "I ate %d apples. So I was sick for %s days." % (number, day)
print(sentence)

sentence = "I ate {} apples. So I was sick for {} days".format(number, day)
print(sentence)

sentence = "I ate %.1f apples. So I was sick for %s days" % (number, day)
print(sentence)

sentence = "\nI ate %d apples.\nSo I was sick for %s days." % (number, day)
print(sentence)

I ate 3 apples. So I was sick for five days.
I ate 3 apples. So I was sick for five days
I ate 3.0 apples. So I was sick for five days

I ate 3 apples.
So I was sick for five days.

In [8]:
dma = "Data Management"

In [9]:
dma += " and Analysis"
dma

'Data Management and Analysis'

In [10]:
dma*6

'Data Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and AnalysisData Management and Analysis'

In [11]:
dma[0:3]

'Dat'

In [12]:
dma[:-3]

'Data Management and Analy'

In [13]:
dma[3] = 'd'
dma

TypeError: 'str' object does not support item assignment

In [128]:
dma.count("a")

6

In [129]:
dma.find("a")

1

In [130]:
dma.find_all("a")

AttributeError: 'str' object has no attribute 'find_all'

In [131]:
# 참고용
import re

[m.start() for m in re.finditer('a', dma)]

[1, 3, 6, 8, 16, 22]

In [132]:
dma.upper()

'DATA MANAGEMENT AND ANALYSIS'

In [18]:
dma.lower()

'data management and analysis'

In [19]:
dma.replace("Data", "Life")

'Life Management and Analysis'

In [20]:
dma.split()

['Data', 'Management', 'and', 'Analysis']

In [21]:
dma.split("a")

['D', 't', ' M', 'n', 'gement ', 'nd An', 'lysis']

In [22]:
dma.join(",")

','

In [23]:
(",").join(dma)

'D,a,t,a, ,M,a,n,a,g,e,m,e,n,t, ,a,n,d, ,A,n,a,l,y,s,i,s'

### 리스트

In [24]:
list1 = []

list2 = [1, 2, "list"]

list3 = [[1,2], "list"]

print(list2)
print(list3)

[1, 2, 'list']
[[1, 2], 'list']

In [25]:
a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [26]:
a[0:5]

[1, 2, 3]

In [27]:
len(a)

3

In [28]:
c = [1, 2, 3, 4]

sum(c)

10

In [29]:
min(c)

1

In [30]:
max(c)

4

In [31]:
d = ["a", "b", "c", "A"]

sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
min(d)

'A'

In [33]:
max(d)

'c'

In [34]:
a = [1,2,3]

In [35]:
a.append([4,5,6])
a

[1, 2, 3, [4, 5, 6]]

In [36]:
a.insert(0, 0)
a

[0, 1, 2, 3, [4, 5, 6]]

In [37]:
a.extend([4,5,6])
a

[0, 1, 2, 3, [4, 5, 6], 4, 5, 6]

In [38]:
a.pop(0)
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [39]:
a.index([4,5,6])

3

In [40]:
a.remove([4,5,6])
a

[1, 2, 3, 4, 5, 6]

In [41]:
a.count(2)

1

In [42]:
a.sort()
a

[1, 2, 3, 4, 5, 6]

### 시퀀스 데이터 타입

In [43]:
list_a=[2,3,"abcd","defg",2,2]
print(list_a[0])
print(list_a[2])
print(len(list_a))
print(list_a.index(3))
print(list_a.count(2))

2
abcd
6
1
3

In [44]:
str_a="example"
print(str_a[0])
print(str_a[2])
print(len(str_a))
print(str_a.index("e"))
print(str_a.count("e"))

e
a
7
0
2

### 튜플

In [45]:
list_a = [1,2,3]
list_a[0] = 3
list_a

[3, 2, 3]

In [46]:
tuple_a = (1,2,3)
tuple_a[0]

1

In [47]:
tuple_a[0] = 3

TypeError: 'tuple' object does not support item assignment

### 집합

In [48]:
set([1,2,3,3,4,4,4])

{1, 2, 3, 4}

In [49]:
set1 = set([1,2,3,4])
set2 = set([3,4,5,6])
set1 & set2

{3, 4}

In [50]:
set1.intersection(set2)

{3, 4}

In [51]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [52]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [53]:
set1 - set2

{1, 2}

In [54]:
set1.difference(set2)

{1, 2}

In [55]:
set1.add(5)
set1

{1, 2, 3, 4, 5}

In [56]:
set1.update([5,6,7])
set1

{1, 2, 3, 4, 5, 6, 7}

In [57]:
set1.remove(4)
set1

{1, 2, 3, 5, 6, 7}

In [58]:
list(set1)

[1, 2, 3, 5, 6, 7]

### 딕셔너리

In [59]:
dic = {'a': 1, "b": 2, 3: 4}

In [60]:
dic

{'a': 1, 'b': 2, 3: 4}

In [61]:
dic['a'] = [1,2,3]
dic

{'a': [1, 2, 3], 'b': 2, 3: 4}

In [62]:
del dic['a']

In [63]:
dic

{'b': 2, 3: 4}

In [64]:
dic['c'] = 3
dic

{'b': 2, 3: 4, 'c': 3}

In [65]:
'a' in dic

False

In [66]:
'b' in dic

True

In [67]:
dic.keys()

dict_keys(['b', 3, 'c'])

In [68]:
dic.values()

dict_values([2, 4, 3])

In [69]:
dic.items()

dict_items([('b', 2), (3, 4), ('c', 3)])

### 불

In [70]:
2>1

True

In [71]:
2<1

False

In [72]:
bool(1)

True

In [73]:
bool(0)

False

In [74]:
bool('False')

True

In [75]:
bool('')

False

In [76]:
bool([])

False

In [77]:
bool([False])

True

In [78]:
True and False

False

In [79]:
True or False

True

In [80]:
not True

False

### 배열(Array)

In [81]:
import numpy as np
num_1=np.array(1)
num_2=np.array([1,2])
num_3=np.array([[1,2],[3,4]])

In [82]:
print(num_1.shape)
print(num_2.shape)
print(num_3.shape)

()
(2,)
(2, 2)

In [83]:
print(num_1[0])

IndexError: too many indices for array: array is 0-dimensional, but 1 were indexed

In [89]:
print(num_2[0])
print(num_3[0])

1
[1 2]

In [90]:
import tensorflow as tf
from tensorflow import keras

import numpy as np



print(tf.__version__)   # Tensorflow의 버전을 출력

mnist = keras.datasets.mnist

# MNIST 데이터를 로드. 다운로드하지 않았다면 다운로드까지 자동으로 진행됩니다. 
(x_train, y_train), (x_test, y_test) = mnist.load_data()   

print(len(x_train))  # x_train 배열의 크기를 출력
print(len(x_test))
print(len(y_test ))

2.11.0
60000
10000
10000

In [91]:
print(type(x_test))
print(x_test.shape)
print(type(x_test[0]))
print(x_test[0].shape)

<class 'numpy.ndarray'>
(10000, 28, 28)
<class 'numpy.ndarray'>
(28, 28)

In [92]:
x_test[0]

array([[  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,  84, 185, 159, 151,  60,  36,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0, 222, 254, 254, 254, 254, 241, 198,
        198, 198, 198, 198, 198, 198, 198, 170,  52,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,  67, 114,  72, 114, 163, 227, 254,
        225, 254, 254, 254, 250, 229, 254, 254, 140,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  17,  66,
         14,  67,  67,  67,  59,  21, 236, 254, 106,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,  83, 253, 209,  18,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,  22, 233, 255,  83,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0, 129, 254, 238,  44,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,  59, 249, 254,  62,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0, 133, 254, 187,   5,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   9, 205, 248,  58,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0, 126, 254, 182,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,  75, 251, 240,  57,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         19, 221, 254, 166,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   3,
        203, 254, 219,  35,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  38,
        254, 254,  77,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  31, 224,
        254, 115,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 133, 254,
        254,  52,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  61, 242, 254,
        254,  52,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 121, 254, 254,
        219,  40,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 121, 254, 207,
         18,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]], dtype=uint8)

## 조건문

In [93]:
a = 10
if a > 15:
    print("a는 15보다 큽니다.")
print("==============")

==============

In [94]:
a = 10
if a > 15:
    print("a는 15보다 큽니다.")
else:
    print("a는 15보다 작습니다.")
print("==============")

a는 15보다 작습니다.
==============

In [95]:
a = 18
if a > 20:
    print("a는 20보다 큽니다.")
elif a > 18:
    print("a는 20이하 18초과입니다.")
elif a > 16:
    print("a는 18이하 16초과입니다.")
else:
    print("a는 15보다 작습니다.")
print("==============")

a는 18이하 16초과입니다.
==============

In [96]:
condition=0

if condition > 0:
    print("positive")
elif condition <0:
    print("negative")
else:
    print("zero")

zero

In [97]:
condition_1 =True
condition_2 = False

if condition_1 & condition_2:
    print("both and True")
else:
    print("No way")

No way

## 반복문

In [98]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [99]:
print("List")
for x in [1,2,3]:
    print(x)
    
print("Tuple")
for x in (1,2,3):
    print(x)

List
1
2
3
Tuple
1
2
3

In [105]:
list_a = [1, 2, 3, 4]
for i in list_a:
    print(i + 2)

3
4
5
6

In [106]:
d = {'a': 1, 'b': 2, 3: 4}
for key in d.keys():
    print(key)
    
for value in d.values():
    print(value)

for key, value in d.items():
    print(key, value)

a
b
3
1
2
4
a 1
b 2
3 4

In [107]:
add = 0 
for i in range(1, 11): 
    add = add + i 
add

55

In [108]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    print(marks[number])

90
25
67
45
80

In [109]:
a = [1,2,3]
for idx, x in enumerate(a):
    print(idx, x) # x = a[idx]

0 1
1 2
2 3

In [110]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [111]:
for i in range(2, 100):
    if(i > 9):
        break
    print("구구단", i, "단입니다.")
print("구구단 출력을 마칩니다.")

구구단 2 단입니다.
구구단 3 단입니다.
구구단 4 단입니다.
구구단 5 단입니다.
구구단 6 단입니다.
구구단 7 단입니다.
구구단 8 단입니다.
구구단 9 단입니다.
구구단 출력을 마칩니다.

In [112]:
for i in range(2, 10):
    if(i == 5):
        print("5단은 모르겠습니다.")
        continue
    print("구구단", i, "단입니다.")

구구단 2 단입니다.
구구단 3 단입니다.
구구단 4 단입니다.
5단은 모르겠습니다.
구구단 6 단입니다.
구구단 7 단입니다.
구구단 8 단입니다.
구구단 9 단입니다.

In [113]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
print(dan, "x 2 =", dan * 2)
print(dan, "x 3 =", dan * 3)
print(dan, "x 4 =", dan * 4)
print(dan, "x 5 =", dan * 5)
print(dan, "x 6 =", dan * 6)
print(dan, "x 7 =", dan * 7)
print(dan, "x 8 =", dan * 8)
print(dan, "x 9 =", dan * 9)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [114]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [115]:
dan = 2
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

dan = 3
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

dan = 9
print("구구단", dan, "단을 출력합니다.")
for i in range(2, 10):
    print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
구구단 3 단을 출력합니다.
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
구구단 9 단을 출력합니다.
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [116]:
for dan in range(2, 10):
    print("구구단", dan, "단을 출력합니다.")
    for i in range(2, 10):
        print(dan, "x", i, "=", dan * i)

구구단 2 단을 출력합니다.
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
구구단 3 단을 출력합니다.
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
구구단 4 단을 출력합니다.
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
구구단 5 단을 출력합니다.
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
구구단 6 단을 출력합니다.
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
구구단 7 단을 출력합니다.
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
구구단 8 단을 출력합니다.
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
구구단 9 단을 출력합니다.
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [117]:
# diy1
for i in range(1, 6):
    print("*"*i)

*
**
***
****
*****

In [118]:
# diy 2~4 풀어보기

In [119]:
# diy 5
for i in range(5): #i가 행번호가 됨
    #공백 먼저 찍어보기 : 공백수=행번호
    print(" " * i, end="") #엔터 못치게 옵션줘
    #숫자 찍고
    for j in range(1, 6-i):
        print(j, end="")
        # if j==(5-i): #j가 5-i가 되면 엔터 한번 쳐줘
        #     print()
    #엔터를 쳐줘 - 가장 일반적
    print()

12345
 1234
  123
   12
    1

In [120]:
# diy 6
for i in range(5): #i가 행번호가 됨
    #공백 먼저 찍어보기 : 공백수=행번호
    print(" " * i, end="") #엔터 못치게 옵션줘
    #숫자 찍고
    for j in range(1, 6-i):
        print(j, end="")
        # if j==(5-i): #j가 5-i가 되면 엔터 한번 쳐줘
        #     print()

    #숫자를 4321 찍으면됨
    for j in range(4-i, 0, -1):
        print(j, end="")

    #엔터를 쳐줘 - 가장 일반적
    print()

123454321
 1234321
  12321
   121
    1

### 함수

In [121]:
def printDan(dan):
    print("구구단", dan, "단을 출력합니다.")
    for i in range(2, 10):
        print(dan, "x", i, "=", dan * i)

printDan(15)

구구단 15 단을 출력합니다.
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135

In [122]:
# diy 7

### 람다 함수

In [123]:
(lambda x,y: x+y)(1,2)

3

In [124]:
list(map(lambda x: x**2, range(5)))

[0, 1, 4, 9, 16]

In [125]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [126]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [127]:
list(filter(lambda x: x<3, range(5)))

[0, 1, 2]